@charset "UTF-8";

@media screen and (min-width: 992px) {
    #menuicon {
        display: none;
    }
    
    #itens {
        display: block;
    }

    #itens a {
        border-radius: 5px;
    }

    #itens > ul > li {
        display: inline-block;
        margin: 10px;
    }

    main {
        width: 768px;
    }
}