@charset "UTF-8";

body {
    background-color: gray;
}

main {
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    max-width: 800px;
    min-width: 200px;
    margin: auto;
}

picture > img {
    width: 100%;
}